extends layout/main/main
block title
  | about
block main
  include includes/preloader/preloader
  .wrapper
    .content
      include includes/header/header
      .about
        .about__main-screen(style="background-image: url('./assets/img/about.jpg')")
          .container
            include includes/breadcrumbs/breadcrumbs
            +breadcrumbs(['главная'], 'новости')
          .about__banner
            .container              
              h2.news__title.title.fade-title о нашей компании
              .about__text-wrap
                .about__text.desc
                  p.desc__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.
        .line
          span
        .about__total
          mixin total(icon, count, name)
            .about__total-item
              .about__item-wrap
                .about__total-icon
                  i(class=icon)
                .about__total-count=count
                .about__total-name=name
          +total('icon-tick', 45, 'установленных лифта')    
          +total('icon-users', 891, 'довольных клиентов')    
          +total('icon-house', 45, 'завершенных проекта')    
          .line
            span
        .about__video    
          a( class="about__video-wrap" data-fancybox href="https://youtu.be/6OSwHQG57Bk" style="background-image: url('./assets/img/video-prewiev.jpg')")
            .about__video-btn
              i(class="icon-play-button")
          .about__video-desc.desc 
            p.desc__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        .line
          span
    include includes/footer/footer


  include includes/scripts 
  script. 
    var wrapperLine = $('.about__text').offset().left;
    document.documentElement.style.setProperty('--wrapperLine', `${wrapperLine}px`);
    document.documentElement.style.setProperty('--wrapperLine2', `${wrapperLine2}px`);